In [22]:
import pandas as pd
import numpy as np

### **Задание 1. Excel**  ###
Рассчитайте прирост средней коверсии на 1 магазин в Санкт-Петербурге из входящих в покупатели. Данные находятся на листе ""Задание 1""  
В анализе прироста средней конверсии Периода 2 к Периоду 1 должны участвовать только сопоставимые магазины (LFL) - работавшие в обоих периодах

см. лист "Задание 1"

Также решение на питоне:

In [8]:
data_task1 = pd.read_excel("Тестовое.xlsx", sheet_name="Задание 1", usecols='A:E')

In [9]:
data_task1

     Период Код магазина             Город  Входящие, чел  Покупатели, чел.
0         1     1-01-145          Боровичи           3560               483
1         1     1-01-212  Великий Новгород              0                95
2         1     1-01-189  Великий Новгород           1896               237
3         1     1-01-228  Великий Новгород           3329               511
4         1     1-01-232  Великий Новгород           9837               975
..      ...          ...               ...            ...               ...
257       2     1-01-166       Архангельск           3430               359
258       2     1-02-011            Мирный           1577               284
259       2     1-01-174      Северодвинск           5327               510
260       2     1-02-003      Северодвинск           2282               250
261       2     1-02-020      Северодвинск           3156               224

[262 rows x 5 columns]

In [19]:
# Группируем по магазинам и считаем количество периодов для каждого магазина
shop_periods = data_task1.groupby("Код магазина")["Период"].nunique()

# Фильтруем магазины, которые присутствуют во всех периодах
common_shops = shop_periods[
    shop_periods == data_task1["Период"].nunique()
].index.tolist()

# Создаём датафрейм с этими магазинами
common_shops_df = data_task1[data_task1["Код магазина"].isin(common_shops)]

In [ ]:
common_shops_df["Конверсия"] = common_shops_df["Покупатели, чел."] / common_shops_df[
    "Входящие, чел"
].replace(0, np.nan)

In [35]:
avg_conversion_by_period = common_shops_df.groupby("Период")["Конверсия"].mean()
avg_conversion_by_period *= 100
avg_conversion_by_period

Период
1    12.296841
2    11.475207
Name: Конверсия, dtype: float64

In [40]:
print(
    "Прирост конверсии:",
    (avg_conversion_by_period.tolist()[1] - avg_conversion_by_period.tolist()[0])
    / avg_conversion_by_period.tolist()[0]
    * 100,
)

Прирост конверсии: -6.681667698026315

### **Задание 2. Python** ###
Предоставить файл с кодом решения в jupiter notebook  
Рассчитайте наценку на ювелирные изделия по данным на листе ""Задание 2"".   Соблюсти следующие условия:
1. Период анализа - с 1.04.23 по 10.04.23
2. В анализе должны участвовать только продажи изделий с общей суммой и себестоимостью больше 0 рублей
3. В ответе необходимо получить два значения наценки - среднюю наценку на ювелирные изделия из золота и среднюю наценку на ювелирные изделия из серебра. Сгруппировать изделия по металлу нужно на основе поля ""Товарная группа"". Товарная группа изделий из серебра начинается на ""СИ"", все остальные изделия - это золото."

In [2]:
data_task2 = pd.read_excel("Тестовое.xlsx", sheet_name="Задание 2")

In [ ]:
data.sample(5)

### **Задание 3. Web парсинг на Python** ###
Предоставить файл с результатами в виде таблицы в формате xlsx или csv, а также код парсера в jupiter notebook  
Попробуйте написать парсер на Python, который соберет данные с сайта https://www.585zolotoy.ru/ в категории товаров Браслеты – с камнями. Соберите Название товара, Цену после скидок, Цену при оплате online, вес изделия, ссылку на товар.